#main{
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: black;
  display: none;
  
}
#planet-set, #capsule{
  width: 100%;
  height: 100%;
  -webkit-transition:-webkit-transform 1s ease-out;
  -moz-transition:-moz-transform 1s ease-out;
  -o-transition:-o-transform 1s ease-out;
  -ms-transition:-ms-transform 1s ease-out;
  transition:transform 1s ease-out;
}
#bg-img{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgb(0,0,12);
}
#bg-img img{
  width: 300%;
  height: 150%;
  position: absolute;
  left: -100%;
  top: -25%;
  -webkit-transform-origin: 50% 50%;
  
  -webkit-transition:-webkit-transform 1.2s ease-out;
  -moz-transition:-moz-transform 1s ease-out;
  -o-transition:-o-transform 1s ease-out;
  -ms-transition:-ms-transform 1s ease-out;
  transition:transform 1.2s ease-out;
}
.planets{
  width:40%;
  height: 40%;
  position: absolute;
  margin: -20% 0 0 -20%;
  cursor: pointer;
  -webkit-transition:-webkit-transform 1s ease-out;
  -moz-transition:-moz-transform 1s ease-out;
  -o-transition:-o-transform 1s ease-out;
  -ms-transition:-ms-transform 1s ease-out;
  transition:transform 1s ease-out;
}
.planet-current{
  -webkit-transform:scale(1,1);
  -moz-transform:scale(1,1);
  -ms-transform:scale(1,1);
  -o-transform:scale(1,1);
  transform:scale(1,1);
  z-index: 5;
}
.planet-neighbour{
  -webkit-transform:scale(0.4,0.4);
  -moz-transform:scale(0.4,0.4);
  -ms-transform:scale(0.4,0.4);
  -o-transform:scale(0.4,0.4);
  transform:scale(0.4,0.4);
  z-index: 3;
}
.planet-others{
  -webkit-transform:scale(0.2,0.2);
  -moz-transform:scale(0.2,0.2);
  -ms-transform:scale(0.2,0.2);
  -o-transform:scale(0.2,0.2);
  transform:scale(0.2,0.2);
  z-index: 1;
}
.planets img{
  width: 100%;
  height: auto;
  position: absolute;
}


.bg-rotate-left{  
  -webkit-transform: translateX(5%) rotateZ(72deg);
}
.bg-rotate-right{
  -webkit-transform: translateX(5%);
}

.planets-zoom-in{
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -ms-transform:scale(1,1);
    -o-transform:scale(1,1);
    transform:scale(1,1);  
}
.planets-zoom-out{
    -webkit-transform:scale(0.85, 0.85);
    -moz-transform:scale(0.85, 0.85);
    -ms-transform:scale(0.85, 0.85);
    -o-transform:scale(0.85, 0.85);
    transform:scale(0.85, 0.85);
}

.planets-zoom-in{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-function: ease-in;
  animation-function: ease-in;
  -webkit-animation-name: planets-zoom-in;
          animation-name: planets-zoom-in;
}

@-webkit-keyframes planets-zoom-in{
  0%{
    -webkit-transform:scale(0.85, 0.85);
    -moz-transform:scale(0.85, 0.85);
    -ms-transform:scale(0.85, 0.85);
    -o-transform:scale(0.85, 0.85);
    transform:scale(0.85, 0.85);
  }
  100%{
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -ms-transform:scale(1,1);
    -o-transform:scale(1,1);
    transform:scale(1,1);
  }
} 
@keyframes planets-zoom-in{
  0%{
    -webkit-transform:scale(0.85, 0.85);
    -moz-transform:scale(0.85, 0.85);
    -ms-transform:scale(0.85, 0.85);
    -o-transform:scale(0.85, 0.85);
    transform:scale(0.85, 0.85);
  }
  100%{
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -ms-transform:scale(1,1);
    -o-transform:scale(1,1);
    transform:scale(1,1);
  }
} 

.planets-zoom-out{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: planets-zoom-out;
          animation-name: planets-zoom-out;
}

@-webkit-keyframes planets-zoom-out{
  0%{
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -ms-transform:scale(1,1);
    -o-transform:scale(1,1);
    transform:scale(1,1);
  }
  100%{
    -webkit-transform:scale(0.85, 0.85);
    -moz-transform:scale(0.85, 0.85);
    -ms-transform:scale(0.85, 0.85);
    -o-transform:scale(0.85, 0.85);
    transform:scale(0.85, 0.85);
  }
} 
@keyframes planets-zoom-out{
  0%{
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -ms-transform:scale(1,1);
    -o-transform:scale(1,1);
    transform:scale(1,1);
  }
  100%{
    -webkit-transform:scale(0.85, 0.85);
    -moz-transform:scale(0.85, 0.85);
    -ms-transform:scale(0.85, 0.85);
    -o-transform:scale(0.85, 0.85);
    transform:scale(0.85, 0.85);
  }
} 

/*.planet-current{
  z-index: 5;
  -webkit-animation: planet-current 1s;
          animation: planet-current 1s;
}

@-webkit-keyframes planet-current{
  0%{
  }
  100%{
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -ms-transform:scale(1,1);
    -o-transform:scale(1,1);
    transform:scale(1,1);
  }
} 
@keyframes planet-current{
  0%{
  }
  100%{
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -ms-transform:scale(1,1);
    -o-transform:scale(1,1);
    transform:scale(1,1);
  }
} 

.planet-neighbour{
  z-index: 3;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: planet-neighbour;
          animation-name: planet-neighbour;
}

@-webkit-keyframes planet-neighbour{
  0%{
  }
  100%{
    -webkit-transform:scale(0.4,0.4);
    -moz-transform:scale(0.4,0.4);
    -ms-transform:scale(0.4,0.4);
    -o-transform:scale(0.4,0.4);
    transform:scale(0.4,0.4);
  }
} 
@keyframes planet-neighbour{
  0%{
  }
  100%{
    -webkit-transform:scale(0.4,0.4);
    -moz-transform:scale(0.4,0.4);
    -ms-transform:scale(0.4,0.4);
    -o-transform:scale(0.4,0.4);
    transform:scale(0.4,0.4);
  }
}
*/
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
/* backgorund twinkling effect */
.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(../../media/home/planets/stars1.png) repeat top center;
  z-index:1;
}

.twinkling{
  background:transparent url(../../media/home/planets/twinkling.png) repeat top center;
  z-index: 2;
  -moz-animation:move-twink-back 1000s linear infinite;
  -ms-animation:move-twink-back 1000s linear infinite;
  -o-animation:move-twink-back 1000s linear infinite;
  -webkit-animation:move-twink-back 1000s linear infinite;
  animation:move-twink-back 1000s linear infinite;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 10000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 10000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 10000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 10000px;}
}

.bounce{

  -webkit-animation-name:bounce;
          animation-name:bounce;
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
}

@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
            transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
            transform: translate3d(0,-4px,0);
  }
}
